# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ feature/restructure ]
  pull_request:
    branches: [ feature/restructure ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: viur/viur-flare-build

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: true

      #build vi
      - name: build Vi
        run: |
          echo $GITHUB_WORKSPACE
          python3 /scripts/flare.py -s $GITHUB_WORKSPACE/vi -t /build

      - uses: actions/upload-artifact@master
        with:
          name: buildfiles
          path: /build


  release:
    runs-on: ubuntu-latest
    container: viur/viur-flare-build
    needs: [build]

    steps:
      - uses: actions/download-artifact@master
        with:
          name: buildfiles
          path: /build

      - name: archive
        run: ls /build